@import "../../build/scss/variables";

/* Block */

@import '../../partials/block/breadcrumbs/breadcrumbs';

/* Form */

@import '../../partials/form/free-quote/free-quote';


/* Section */

@import '../../partials/section/free-quote/free-quote';
@import '../../partials/section/useful-links/useful-links';


.faq-section {
    .container {
        position: relative;
        &::before {
            content: "";
            width: 825px;
            height: 808px;
            position: absolute;
            top: 70px;
            left: -880px;
            background-image: url(../../assets/img/svg/picture/11.svg);
            z-index: -1;
        }
        &::after {
            content: "";
            width: 690px;
            height: 722px;
            position: absolute;
            top: -160px;
            right: -705px;
            background-image: url(../../assets/img/svg/treasure.svg);
            z-index: -1;
        }
    }
}


.questions-container {
    .question {
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid #F2F2F2;
        background-color: #fff;
        .question-name {
            padding: 22px 25px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 600;
            svg {
                margin-top: 10px;
            }
        }
        .question-name[aria-expanded="true"],
        .answer-wrap.collapsing,
        .answer-wrap.show {
            background: rgba(239, 242, 255, 0.26);
        }
        .answer {
            padding: 15px 25px;
        }
    }
}

@media (max-width: 1400px) {
    .faq-section {
        .container {
            &::before, &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .questions-container {
        .question {
            .question-name {
                padding: 15px;
            }
            .answer {
                padding: 15px;
            }
        }
    }
}