<div class="dignity-block">
    <div class="container">
        <h2 class="h1 section-title">{{ 'In Our Account'|_ }}</h2>
        <div class="dignity-content">
            <div class="row">
                <div class="col-lg-4 dignity-col">
                    <div class="dignity-warp">
                        <picture>
                            <img src="{{ 'assets/img/svg/dignity/1.svg'|theme }}" alt="выполненных переездов">
                        </picture>
                        <div class="description">
                            <h3 class="h1 number-animation hidden" num-data="4000" data-step="100" data-duration="1000" data-delay="300">0</h3>
                            <p>
                                {{ 'completed <br> transfers'|_ }}
                            </p>
                        </div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="col-lg-4 dignity-col">
                    <div class="dignity-warp">
                        <picture>
                            <img src="{{ 'assets/img/svg/dignity/2.svg'|theme }}" alt="проеханных миль">
                        </picture>
                        <div class="description">
                            <h3 class="h1 number-animation hidden" num-data="25000" data-step="100" data-duration="1000" data-delay="300">0</h3>
                            <p>
                                {{ 'traveled <br> miles' }}
                            </p>
                        </div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="col-lg-4 dignity-col">
                    <div class="dignity-warp">
                        <picture>
                            <img src="{{ 'assets/img/svg/dignity/3.svg'|theme }}" alt="упакованных грузов">
                        </picture>
                        <div class="description">
                            <h3 class="h1 number-animation hidden" num-data="12000" data-step="100" data-duration="1000" data-delay="300">0</h3>
                            <p>
                                {{ 'packaged <br> cargo'|_ }}
                            </p>
                        </div>
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>