.description-content {
    position: relative;
    .image-wrap {
        border-radius: 8px;
        overflow: hidden;
    }
    .h1 {
        margin-bottom: 40px;
    }
    p {
        color: #767676;
    }
}