<div class="description-block">
    <div class="container">
        <div class="description-content">
            <div class="row">
                <div class="col-lg-6">
                    <picture>
                        <img class="img-fluid" src="{{ 'assets/img/jpg/description.jpg'|theme }}" alt="Изображение">
                    </picture>
                </div>
                <div class="col-lg-6">
                    <div class="description">
                        <h3 class="h1">
                            Text description
                        </h3>
                        <p>
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                            Небольшой текст, который знакоми пользователя с информацией о разделе, о услугах, о подходе к работе.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>