<div class="brands">
    <div class="brands-row">
        <img class="brand" src="{{ 'assets/img/svg/brands/philips.svg'|theme }}" alt="Philips">
        <img class="brand" src="{{ 'assets/img/svg/brands/logitech.svg'|theme }}" alt="logitech">
        <img class="brand" src="{{ 'assets/img/svg/brands/amazon.svg'|theme }}" alt="Amazon">
        <img class="brand" src="{{ 'assets/img/svg/brands/facebook.svg'|theme }}" alt="Facebook">
        <img class="brand" src="{{ 'assets/img/svg/brands/google.svg'|theme }}" alt="Google">
        <img class="brand" src="{{ 'assets/img/svg/brands/linkedin.svg'|theme }}" alt="LinkedIn">
    </div>
</div>