<section class="free-quote-section">
    <div class="container">
        <h2 class="h1 section-title">
            {{ 'Free Quote'|_ }}
        </h2>
        {% partial 'form/free-quote/free-quote' %}
        <!-- <form class="free-quote-form">
            <div class="form-title">
                Перезвоним в течение 15 минут.
            </div>
            <div class="inputs">
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label for="contact-username" class="form-label">Full Name</label>
                        <div class="input-wrap">
                            <input id="contact-username" class="form-control icon person-icon" type="text" placeholder="Sabrina Willson" required>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="contact-phone" class="form-label">Type phone number</label>
                        <div class="input-wrap">
                            <input id="contact-phone" class="form-control icon phone-icon" data-phone="true" type="text" placeholder="Type phone number" required>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <button type="submit" class="btn btn-primary-custom">Send</button>
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</section>