@import "../build/scss/variables";
@import "~tiny-slider/src/tiny-slider";

/* Slider */

@import '../partials/element/slider/slider';


/* Block */

@import '../partials/block/card/advantage/advantage';
@import '../partials/block/article/article';
@import '../partials/block/brands/brands';
@import '../partials/block/card/review/review';


/* Form */

@import '../partials/form/feedback/feedback';

/* Section */

@import '../partials/section/hero/hero';
@import '../partials/section/dignity/dignity';
@import '../partials/section/description/description';
@import '../partials/section/advantage/advantage';
@import '../partials/section/service/service';
@import '../partials/section/book-one-click/book-one-click';
@import '../partials/section/testimonials/testimonials';
@import '../partials/section/about-us/about-us';
@import '../partials/section/latest-articles/latest-articles';
@import '../partials/section/contact-us/contact-us';

.hero-section {
    .container {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1871px;
            height: 719px;
            left: -470px;
            top: -35px;
            background-image: url(../../assets/img/svg/hero-bg.svg);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }
}
.main-page {
    padding-bottom: 40px;
}

.description-section {
    .container {
        position: relative;
        &::before {
            content: '';
            width: 690px;
            height: 722px;
            position: absolute;
            top: -10px;
            right: -760px;
            background-image: url(../../assets/img/svg/treasure.svg);
            z-index: -1;
        }
    }
}
.advantage-section {
    .container {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 2235px;
            height: 916px;   
            left: -700px;
            top: 15px;
            background-repeat: no-repeat;
            background-image: url(../../assets/img/svg/advantage-bg.svg);
            z-index: -1;
        }
    }
}

.service-section {
    .container {
        position: relative;
        &::before {
            content: '';
            width: 825px;
            height: 808px;
            position: absolute;
            right: -830px;
            bottom: -400px;
            background-image: url(../../assets/img/svg/service-bg.svg);
            z-index: -1;
        }
    }
}

.about-us-section {
    .container {
        position: relative;
        &::before {
            content: '';
            width: 1823px;
            height: 1089px;
            position: absolute;
            left: -256px;
            bottom: -92px;
            background-image: url(../../assets/img/svg/picture/1.svg);
            z-index: -1;
        }
    }
    .description {
        max-width: 800px;
        p {
            font-size: 20px;
            font-weight: 500;
            color: #767676;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.contact-us-section {
    .container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: -390px;
            width: 2589px;
            height: 912px;
            margin-left: -260px;
            background-image: url(../../assets/img/svg/picture/2.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 100px;
            z-index: -1;
        }
    }
}


@media (max-width: 1199px) {
    .hero-section {
        .container {
            &::before {
                width: 1350px;
                height: 519px;
                left: -260px;
                top: 36px;
            }
        }
    }
    .contact-us-section {
        .container {
            position: relative;
            &::before {
                top: 30px;
                left: -450px;
            }
        }
    }
    .description-section,
    .advantage-section,
    .service-section,
    .about-us-section  {
        .container {
            &::before {
                display: none;
            }
        }
    }
}


@media (max-width: 991px) {
    .hero-section,
    .contact-us-section  {
        .container {
            &::before {
                display: none;
            }
        }
    }
}