@import "../../build/scss/variables";

/* Block */

@import '../../partials/block/breadcrumbs/breadcrumbs';
@import '../../partials/block/article/article';
@import '../../partials/block/pagination/pagination';

/* Section */
@import '../../partials/section/useful-links/useful-links';


.articles-section {
    .row {
        margin: 0 -10px;
    }
    .article-col {
        margin-bottom: 30px;
        padding: 0 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .article-card {
        .article-title {
            font-weight: 600;
        }
        img {
            border-radius: 8px;
        }
    }
}