<div class="breadcrumbs-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">{{ 'Main'|_ }}</a>
                </li>
                {% for link in links %}

                {% if link.active %}
                    <li class="breadcrumb-item active" aria-current="page">{{ link.title }}</li>
                {% else %}
                    <li class="breadcrumb-item">
                        {% if link.direct %}
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        {% else %}
                            <a href="{{ link.url|page }}">{{ link.title }}</a>
                        {% endif %}
                    </li>
                {% endif %}
                {% endfor %}
                {# <li class="breadcrumb-item">
                    <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Data</li> #}
            </ol>
        </nav>
    </div>
</div>